<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
	<meta content-type="text/html" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/login.css">
	<script src=""></script>
</head>
<body>
	<div class="content">
		<div class="login-tab-l">
			<p>账号登录</p>		
		</div>
		<!-- <div class="login-tab-r">
			<p>扫码登录</p>		
		</div> -->
		<div class="form">
			<form method="post" action="../lonin.php">
				<div>
					<label for="username">用户：</label>
					<input type="text" name="username" id="username" placeholder="用户名/邮箱/手机号">
				</div>
				<div>
					<label for="passwd">密码：</label>
					<input type="text" name="passwd" id="passwd" placeholder="密码">
				</div>
				<div>		
					<button class="btn1">登录</button>
					<button class="btn2">注册</button>
				</div>				
			</form>
		</div>
	</div>
</body>
</html>